apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  labels:
    app: lab4
    tier: database
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lab4
      tier: database
  template:
    metadata:
      labels:
        app: lab4
        tier: database
    spec:
      containers:
      - name: postgres
        image: postgres:16-alpine
        ports:
        - containerPort: 5432

        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: db-secret

        readinessProbe:
          exec:
            command: ["sh", "-c", "pg_isready -U \"$POSTGRES_USER\" -d \"$POSTGRES_DB\" -h 127.0.0.1 -p 5432"]
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 6

        volumeMounts:
        - name: pg-data
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: pg-data
        emptyDir: {}
